<title>Sito di Ricette Culinarie</title>

<h1>Benvenuto al Sito di Ricette Culinarie</h1>
<h3>Seleziona una nazione:</h3>
<!--Commento-->


<button id="italia"><a href="./../../assets/italia.html"><img src="./../../assets/italia.jpg" alt="Bandiera Italia"
            class="flag"><br>Italia</a></button>

<button id="spagna"><a href="./../../assets/spagna.html"><img src="./../../assets/spagna.png" alt="Bandiera Spagna"
            class="flag"><br>Spagna</a></button>

<button id="ing"><a href="./../../assets/inghilterra.html"><img src="./../../assets/ing.png" alt="Bandiera inghilterra"
            class="flag"><br>Inghilterra</a></button>
